{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@700&display=swap" rel="stylesheet">
    <style> 
    body{
        background-color: rgb(171, 240, 254);
    }
        .selfhead{
            font-size: 90px;
            font-weight: bolder;
            font-family: 'Baloo Chettan 2', cursive;
        } 
        @media only screen and (max-width:485px){
            .selfhead{
            font-size: 50px;
            font-weight: bold;
        } 
        }
    </style>
    <title>Login</title>
</head>
<body>
    {% if login %}
    {% include "nav.html" %}
    {% endif %}

    <div class="container" id="Contact-us">
        <div class="selfhead text-center">
            Contact Us
        </div>
        <img src="{% static 'images/contact.jpg' %}" class="img-fluid" alt="Responsive image">
    </div>
    <div class="container my-4">
        <form method="post" action="/submit_contact_form">
            {%csrf_token%}
            <div class="mb-3">
                <label for="form_name" class="form-label">Your Name</label>
                <input type="text" class="form-control" id="form_name" placeholder="Enter Your Name" name="name">
            </div>
            <div class="mb-3">
                <label for="form_email" class="form-label">Your Email address</label>
                <input type="email" class="form-control" id="form_email" aria-describedby="emailHelp"
                    placeholder="Enter Your Email" name="email">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="form_number" class="form-label">Your Phone Number</label>
                <input type="number" class="form-control" id="form_number" aria-describedby="emailHelp"
                    placeholder="Enter Your Phone Number" name="phone">
                <div id="emailHelp" class="form-text">We'll never share your Phone Number with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="form_issue" class="form-label">Describe what you want to contact me for here</label>
                <input type="text" class="form-control" id="form_issue" aria-describedby="emailHelp"
                    placeholder="Enter Your Message" name="message">
            </div>
    
            <button type="submit" class="btn btn-danger">Submit</button>
        </form>
    </div>
      

      <!-- footer -->
      {% include "footer.html" %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>